/* this will set the background color for the whole page */

body {
  background-color: whitesmoke;
}

/* this will change the color of the header and put a background color to help give contrast */

header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  background-color: darkgray;
  padding: 20px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 38px;
}
h3 {
  font-size: 28px;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
}

/* this will style the lists to be centered as well as the bullet points/numbers */

ol, ul {
  list-style-position: inside;
  font-size: 24px;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  color: black;
}

/* this will make the image more round in shape and give it some space */

img {
  border-radius: 30%;
  border: 10px;
  margin: 10px;
  height: 225px;
}

nav {
  color: black;
  font-size: 20px;
}

/* change the link colors and how the user can interact with them */

a:link { color: blue}
a:visited {color: darkred}
a:hover {color: black}
a:active {color: orange}
