body {
  background-color: #ECEBE4;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: antiquewhite;
  background-color: darkolivegreen;
  padding: 20px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 38px;
}
h3 {
  font-size: 28px;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
}
ol, ul {
  list-style-position: inside;
  font-size: 18px;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: darkolivegreen;
  padding: 10px;
  color: antiquewhite;
}
img {
  border-radius: 30%;
  border: 10px;
  margin: 10px;
}
